<div class="header">
    <div class="header-left">
        <div class="header-logo">
            EXCHANGE <img src="../../../../assets/exchange.png" alt="">
        </div>
    </div>
    <div  class="header-mid">
            <div  class="header-mid__title">Main</div>
            <div class="header-mid__title">Exchange rates</div>
            <div class="header-mid__title">News</div>

    </div>

    <div class="header-right">
            <img  src="../../assets/comment.svg" alt="">
            <img src="../../assets/notification.svg" alt="">
            <img src="../../assets/person-1.svg" alt="">
    </div>
</div>
<div class="main_container">
    <router-outlet></router-outlet>
</div>

<div class="footer">
    <div class="footer-logo">
        EXCHANGE <img src="../../../../assets/exchange.png" alt=""> 
    </div>
    <div class="footer-tm">
        2024 © EXCHANGE. All rights reserved
    </div>
</div>

